/*________________Variebles________________*/

:root {
    --black: #222222;
    --light-pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --sales-bkg-color: #4F4745;
    --dark-pink-border: #FF6A6A;
    --dark-pink-border-text: #F26376;
    --white: #FBFBFB;
    --white-white: #FFFFFF;
    --grey: #9F9F9F;
    --dark-grey: #5D5D5D;

}

/*________________General________________*/

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*________________Header________________*/

.header {
    background-color: var(--black);
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__wrp-flex {
    display: flex;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__loupe {
    width: 26px;
    min-height: 26px;
    /* border: 1px solid #fff; */
    position: relative;
    margin-top: 10px;

}

.header__loupe:hover svg {
    fill: orange;

}

.header__loupe-input {
    width: 0;
    min-height: 0;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -1px;
    left: 30px;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}

.header__loupe-input:focus {
    width: 150px;
    min-height: 20px;
    -webkit-transition: width 1s ease;
    transition: width 1s ease;
    border: 2px solid #fff;
}

.header__loupe-input:focus~label>svg {
    fill: green;
}

.header__loupe-input:active~label>svg {
    fill: red;
}

.header__list {
    display: flex;
    align-items: center;

}

.header__nav {
    display: none;
}

.header__item {
    margin: 0 34px 0 0;


}

.header__button {
    border: none;
    background-color: transparent;
}

.header__cart-items {
    width: 19px;
    height: 19px;
    background-color: var(--dark-pink);
    border-radius: 8px 8px 8px 8px;
    color: #fff;
    position: absolute;
    right: -5px;
    top: -5px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

}

.header__cart {
    position: relative;
}




/*________________Brand________________*/

.brand {
    display: flex;
    margin: 0 0 62px 0;
}

.brand__title-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
    background-color: var(--light-pink);

}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    border-left: 12px solid var(--dark-pink);
    padding-left: 8px;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}


/*________________Sales________________*/

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    padding: 20px;
    box-sizing: border-box;
    width: 360px;
    min-height: 260px;

}

.sales__item--woman {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/for_girl.jpg);

}

.sales__item--man {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/for_man.jpg);

}

.sales__item--kids {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/for_kids.jpg);

}

.sales__item--shoes {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/for_accesories.jpg);
    width: 100%;
    min-height: 180px;
    margin-top: 30px;
}

.sales__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;


}

.sales__title {
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white-white);
    font-weight: 400;
    font-style: normal;
}

.sales__pink {
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-pink);
    text-align: center;
    font-weight: 700;
    font-style: normal;
}

/*________________Сatalog________________*/

.catalog {
    margin-top: 95px;
    margin-bottom: 95px;
}

.catalog__title {
    text-align: center;
}

.catalog__title h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: var(--black);
}

.catalog__title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey);
    margin-bottom: 48px;
}

.catalog__list {
    width: 360px;
    margin-bottom: 30px;
}

.catalog__list:nth-child(4) {
    margin-bottom: 0;
}

.catalog__list:nth-child(5) {
    margin-bottom: 0;
}

.catalog__list:nth-child(6) {
    margin-bottom: 0;
}


.catalog__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.catalog__item {
    background-color: var(--white);
    position: relative;

}

.catalog__item:hover .catalog__item-button {
    display: flex;
}

.catalog__item:hover .catalog__item-button:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
}

.catalog__item:hover .catalog__item-button:hover svg {
    fill: #000;
}


.catalog__item:hover .catalog__item-button:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.catalog__item:hover .catalog__item-button:hover svg {
    fill: #fff;
}

.catalog__item:hover .catalog__item-image {
    filter: brightness(50%);
}

.catalog__item-button {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 38.3%;
    min-height: 43px;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 188px;
    left: 32.7%;
}


.catalog__item-title {
    text-transform: uppercase;
    margin: 25px 193px 13px 18px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
}

.catalog__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-grey);
    margin: 0 28px 18px 16px;
}

.catalog__item-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-pink);
    padding: 0 289px 20px 18px;
}

.catalog__link-allproduct {
    text-decoration: none;
    border: 1px solid var(--dark-pink-border);
    color: var(--dark-pink-border-text);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 38px;
    margin-top: 63px;

}

.catalog__link {
    display: flex;
    justify-content: center;
}



/*________________Benefits________________*/

.benefits {
    background-color: #222224;
    padding-top: 103px;
    padding-bottom: 104px;
}


.benefits__flex {
    display: flex;
    justify-content: space-evenly;

}

.benefits__list {
    max-width: 360px;
    height: 134px;
    display: grid;
}

.benefits__item-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 16px;
    text-align: center;
}

.benefits__item-text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: var(--white);
    padding-bottom: 0px;
}

.benefits__item-image {
    margin: 0 auto;
    margin-bottom: 28px;
}

/*________________Review________________*/


.review {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/footer__background.jpg);
    background-repeat: no-repeat;
    padding-top: 97px;
    padding-bottom: 126px;
    background-position: center;
    background-size: cover;

}

.review_flex {
    display: flex;
    justify-content: space-between;
}

.review__face {
    width: 360px;
    display: grid;
}

.review__image {
    margin: 0 auto;
    margin-bottom: 30px;
}

.review__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--black);
}

.review__forms {
    align-self: center;
}

.review__title {
    min-width: 557px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: var(--black);
    margin-bottom: 32px;
    text-transform: uppercase;

}

.review__title-subtext {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: var(--black);
}

.review__input {
    display: flex;
    justify-content: center;

}

.review__input-forms {
    border-radius: 25px 0 0 25px;
    width: 100%;
    max-width: 256px;
    height: 50px;
    padding-left: 24px;
    border: 1px;
    text-transform: capitalize;
}

.review__input-button {
    width: 100%;
    max-width: 100px;
    background: var(--dark-pink);
    font-size: 14px;
    color: var(--white-white);
    border: 1px;
    border-radius: 0 25px 25px 0;
    text-transform: capitalize;
}


/*________________Brandsafe________________*/

.brandsafe {
    background-color: var(--black);

}

.brandsafe__flex {
    display: flex;
    justify-content: space-between;
}

.brandsafe__title {
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
    padding: 30px 0;
    text-transform: capitalize
}

.brandsafe__smm-list {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}

.brandsafe__smm-item {
    margin-left: 7px;


}

.brandsafe__smm-footer:hover {
    fill: var(--white);
    background-color: var(--dark-pink);

}

.brandsafe__smm-footer {
    padding: 8px 12px;
    background-color: #fff;
}