/*________________Navigation________________*/
.navigation {
    background-color: $white;
}

.navigation__text {
    font-size: 24px;
    line-height: 29px;
    color: $dark-pink;
    padding: 60px 0;
    text-transform: uppercase;
}