$black: #222222;
$light-pink: #F1E4E6;
$dark-pink: #F16D7F;
$sales-bkg-color: #4F4745;
$dark-pink-border: #FF6A6A;
$dark-pink-border-text: #F26376;
$white: #FBFBFB;
$white-white: #FFFFFF;
$grey: #9F9F9F;
$dark-grey: #5D5D5D;
$form-border-color: #A4A4A4;